{{'desing-footer.css' | asset_url | stylesheet_tag}}

<section class="container-footer-desing">

    <div class="father-footer">

        <div class="items-footer">
            <div class="title-items-footer">
                    Browse mentors

            </div>
            <div class="text-items-footer">
                View all
            </div>
            <div class="text-items-footer">
                Sign up
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                How it works
            </div>
            <div class="text-items-footer">
                Step by step
            </div>
            <div class="text-items-footer">
                Pricing structure
            </div>
            <div class="text-items-footer">
                User reviews
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                Company
            </div>
            <div class="text-items-footer">
                About
            </div>
            <div class="text-items-footer">
                Contact
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                Stay up to date
            </div>
            <div class="text-items-footer text-input">
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Nec pellentesque vestibulum, mattis facilisis pellentesque. 
            </div>
            
            <form action="">
                <input class="input-footer-desing" name="email" placeholder="Enter email address..." type="text">
                <div class="svg-footer-desing">
                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.74911L0.0622995 0.500244H10L10 0.500254L10 3.74911L10 10.438H6.75114V6.04642L2.2973 10.5003L0 8.20297L4.45386 3.74911H0.0622995Z" fill="white"/>
                    </svg>
                </div>
            </form>

        </div>





    </div>

</section>