{{'desing-start-block-blue.css' | asset_url | stylesheet_tag}}

<section class="container-block-start">
    <div class="father-block-start">

        <div class="block-start">

            <div class="container-title-block-start">
                <div class="triangle-block">
                    <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.87129e-07 0.717041L-2.74373e-06 16.4094L32.3078 16.4094L32.3078 48.7171L48.0002 48.7171L48.0002 0.717092L48 0.717092L48 0.71705L1.87129e-07 0.717041Z" fill="#222222"/>
                    </svg>
                </div>
                <div class="title-block-start">Start your 30-day free trial</div>
            </div>

            <div class="buttom-block-join">
                <a class="text-buttom-block-join" href="">Join Groo</a>
                <div class="svg-subs">
                    <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.76156L0.0622995 2.5127H10L10 2.5127L10 5.76156L10 12.4504H6.75114V8.05887L2.2973 12.5127L0 10.2154L4.45386 5.76156H0.0622995Z" fill="white"/>
                    </svg>
                </div>
            </div>

        </div>

    </div>
</section>