{{'desing-mentors.css' | asset_url | stylesheet_tag}}

<section class="container-mentors">

    <div class="father-all-mentors">

        <div class="container-title-mentors">
            <div class="title-mentors">Meet our mentors</div>
            <div class="text-mentors">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec pellentesque vestibulum, mattis facilisis pellentesque dui amet diam mattis neque.</div>
        </div>

        <div class="container-all-cards">

            <div class="container-card-mentors">

                <div class="father-card-mentors">
                    <div class="container-img-card">
                        <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/image_4_1.png?v=1685113843" alt="" class="img-card">
                    </div>
                </div>

                <div class="container-info-card">
                    <div class="name-mentors">Fran Perez</div>
                    <div class="profession-mentors">VP of Marketing, Melbourne</div>
                    <div class="-text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, imperdiet tempor at enim nisi nibh eros... </div>
                    
                    <div class="buttom-card">
                        <a href="" class="text-buttom">Meet mentor</a>
                        <div class="svg-arrow-card">
                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.24911L0.0622995 2.00024H10L10 2.00025L10 5.24911L10 11.938H6.75114V7.54642L2.2973 12.0003L0 9.70297L4.45386 5.24911H0.0622995Z" fill="#2F80ED"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-card-mentors">

                <div class="father-card-mentors">
                    <div class="container-img-card">
                        <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/image_8_1.png?v=1685113843" alt="" class="img-card">
                    </div>
                </div>

                <div class="container-info-card">
                    <div class="name-mentors">Hassan Ajayi</div>
                    <div class="profession-mentors">CEO, Austin</div>
                    <div class="-text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, imperdiet tempor at enim nisi nibh eros... </div>
                    
                    <div class="buttom-card">
                        <a href="" class="text-buttom">Meet mentor</a>
                        <div class="svg-arrow-card">
                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.24911L0.0622995 2.00024H10L10 2.00025L10 5.24911L10 11.938H6.75114V7.54642L2.2973 12.0003L0 9.70297L4.45386 5.24911H0.0622995Z" fill="#2F80ED"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-card-mentors">

                <div class="father-card-mentors">
                    <div class="container-img-card">
                        <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/image_3.png?v=1685113843" alt="" class="img-card">
                    </div>
                </div>

                <div class="container-info-card">
                    <div class="name-mentors">Samuel Hall</div>
                    <div class="profession-mentors">Director of Programs, Tokyo</div>
                    <div class="-text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, imperdiet tempor at enim nisi nibh eros... </div>
                    
                    <div class="buttom-card">
                        <a href="" class="text-buttom">Meet mentor</a>
                        <div class="svg-arrow-card">
                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.24911L0.0622995 2.00024H10L10 2.00025L10 5.24911L10 11.938H6.75114V7.54642L2.2973 12.0003L0 9.70297L4.45386 5.24911H0.0622995Z" fill="#2F80ED"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttom-Browse-all">
            <a class="text-buttom-Browse-all" href="">Browse all mentors</a>
            <div class="svg-buttom-browse-all">
                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.74911L0.0622995 0.500244H10L10 0.500254L10 3.74911L10 10.438H6.75114V6.04642L2.2973 10.5003L0 8.20297L4.45386 3.74911H0.0622995Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>

</section>