{{'desing-subscribe.css' | asset_url | stylesheet_tag}}

<section class="container-subscribe">

    <div class="father-section-subscribe">

        <div class="container-img-subscribe">
            <div class="container-main-img-sub">
                <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/image_6_1.png?v=1685126761" alt="" class="class-main img">
            </div>
            <div class="container-img-circle-sub">
                <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/Mentor_circle_2.png?v=1685126845" alt="" class="img-circle-sub">
            </div>
        </div>

        <div class="container-info-subscribe">
            <div class="title-suscribe">
                Subscribe to Groo for free
            </div>
            <div class="price-sub">
                Mentor starting at $50 per 30 minutes 
            </div>
            <div class="text-subscribe">
                <span class="span-subsribe"> No obligation, cancel anytime.</span> Lorem ipsum dolor sit amet consectetur adipiscing elit nec pellentesque vestibulum mattis facilisis pellentesque. 
            </div>

            <div class="buttom-subscribe">
                <a class="text-butto-sub" href="">Sign up today</a>
                <div class="svg-subs">
                    <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.76156L0.0622995 2.5127H10L10 2.5127L10 5.76156L10 12.4504H6.75114V8.05887L2.2973 12.5127L0 10.2154L4.45386 5.76156H0.0622995Z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>



</section>