{{'desing-footer.css' | asset_url | stylesheet_tag}}

<section class="container-footer-desing">

    <div class="father-footer">

        <div class="items-footer">
            <div class="title-items-footer">
                    Browse mentors

            </div>
            <div class="text-items-footer">
                View all
            </div>
            <div class="text-items-footer">
                Sign up
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                How it works
            </div>
            <div class="text-items-footer">
                Step by step
            </div>
            <div class="text-items-footer">
                Pricing structure
            </div>
            <div class="text-items-footer">
                User reviews
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                Company
            </div>
            <div class="text-items-footer">
                About
            </div>
            <div class="text-items-footer">
                Contact
            </div>
        </div>

        <div class="items-footer">
            <div class="title-items-footer">
                Stay up to date
            </div>
            <div class="text-items-footer text-input">
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Nec pellentesque vestibulum, mattis facilisis pellentesque. 
            </div>
            
            <form action="">
                <input type="text">
            </form>

        </div>





    </div>

</section>