{{'desing-inspiring.css' | asset_url | stylesheet_tag}}

<section class="father-inspiring">

    <div class="block-blue">

        <div class="text-block-blue">

            <div class="text-shadow">job?</div>
            <div class="main-text-block">Are you inspiring your team?</div>
            <div class="text-shadow">Navigating the corporate culture?</div>

        </div>

    </div>


    <div class="swiper mySwiper">
        <div class="swiper-wrapper father-options-inspiring">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
    </div>







    <div class="father-options-inspiring">

        <div class="content-options">
            <div class="img-content-insp">
                <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/Vector.png?v=1685034771" alt="" srcset="">
            </div>
            <div class="title-content-insp">Connect</div>
            <div class="text-content-insp">with the right mentor</div>
        </div>

        <div class="content-options">
            <div class="img-content-insp">
                <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/learning_on_pc.png?v=1685034771" alt="" srcset="">
            </div>
            <div class="title-content-insp">Learn</div>
            <div class="text-content-insp">from an experienced professional</div>
        </div>

        <div class="content-options">
            <div class="img-content-insp">
                <img src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/Group.png?v=1685034771" alt="" srcset="">
            </div>
            <div class="title-content-insp">Grow</div>
            <div class="text-content-insp">with someone who cares about you</div>
        </div>

    </div>




</section>