* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-footer {
    display: flex;
    padding: 128px 128px 0 128px;
    justify-content: space-between;
}

.title-items-footer {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    margin-bottom: 16px;
}

.text-items-footer {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    margin-bottom: 10px;
}


.text-input {
    max-width: 451px;
    width: 100%;
    margin-bottom: 16px;
}

.input-footer-desing {
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-width: 502px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
}

.items-footer {
    margin-right: 20px;
}

.svg-footer-desing {
    display: flex;
}

.form-desing {
    display: flex;
}

.svg-footer-desing {
    position: relative;
}

.svg-footer-desing svg {
    position: absolute;
    right: 8px;
    top: 15px;
    cursor: pointer;
}

.footer-bottom-desing {
    padding:  92px 128px 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.father-logo-footer-desing{
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-text-footer-bottom {
    display: flex;
}

.logo-footer-desing {
    margin-right: 32px;
}

.text-footer-bottom-left {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
    margin-right: 16px;
}

.text-footer-bottom-left:last-child {
    color: #828282;
    margin-right: 0px;
}

.father-redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-redes {
    margin-right: 24px;
}

.container-redes:last-child {
    margin-right: 0px;
}



@media (max-width:1220px) {
    .father-footer {
        padding: 128px 30px 0;
    }

    .footer-bottom-desing {
        padding: 92px 30px 0;
    
    }
}

@media (max-width:1000px) {

    .text-input {
        max-width: 200px;
    }

    .input-footer-desing {
        min-width: 200px;
    }

    .father-footer {
        padding: 48px 30px 0;
    }
}


@media (max-width:919px) {

    .remove{
        display: none;
    }
}

@media (max-width:634px) {

    .father-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .items-footer {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
}