* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-section-subscribe {
    display: flex;
}

.container-img-subscribe {
    display: flex;
}

.title-suscribe {
    font-family: 'GT America Trial';
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #2F80ED;
    padding-top: 164.42px;
    margin-bottom: 12px;
}

.price-sub {
    font-family: 'GT America Trial';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    margin-bottom: 24px;
}

.text-subscribe {
    font-family: 'GT America Trial';
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 33.4px;
}

.span-subsribe {
    font-weight: 700;
}

.buttom-subscribe {
    max-width: 198px;
    height: 55px;
    background: #2F80ED;
    border-radius: 100px;
}