* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-footer {
    display: flex;
    padding-top: 128px;
    justify-content: center;
}

.title-items-footer {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    margin-bottom: 16px;
}

.text-items-footer {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    margin-bottom: 10px;
}


.text-input {
    max-width: 451px;
    width: 100%;
}