* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-inspiring {
    background-color: #F6F6F6;

}

.block-blue {
    max-width: 1312px;
    height: 160px;
    background: #2F80ED;
    border-radius: 0px 32px 32px 0px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 88px;
}


.text-block-blue {
    display: flex;
}

.text-shadow {
    font-family: 'GT America Trial';
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #FFFFFF;
    opacity: 0.2;
}

.text-shadow:first-child {
    margin-right: 40px;
}

.main-text-block {
    font-family: 'GT America Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #FFFFFF;
    margin-right: 32px;
}

.father-options-inspiring {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 128px;
}

.content-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 64px;
    width: 33.33%;
}

.content-options:last-child {
    margin-right: 0;
}

.img-content-insp {
    margin-bottom: 48px;
}

.title-content-insp {
    font-family: 'GT America Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    color: #222222;
    margin-bottom: 4px;
}

.text-content-insp{
    font-family: 'GT America Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #222222;
}

@media (max-width:1370px){
    .content-options {
        width: 35%;
    }

    .content-options {
        margin-right: 0;
    }

    .block-blue {
        max-width: 1100px;
    }

    .father-options-inspiring {
        flex-wrap: wrap;
        padding: 0 50px 128px;
    }

    .content-options {
       margin-bottom: 50px;
    }

    .content-options:last-child {
        margin-bottom: 0px;
     }
    
}




@media (max-width:1111px){
  
    .block-blue {
        max-width: 970px;
        
    }
    
}

@media (max-width:645px){
  

    .father-options-inspiring {
        flex-direction: column;
    }
    
}