* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-header{
    display: flex;
    padding: 48px 36px 23px 64px;
    align-items: center;
    justify-content: space-between;
}

.container-items-menu {
    display: flex;
}

.container-items-nav{
    display: flex;
}

.text-item-menu{
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #222222;
}


.container-logo-header{
    margin-right: 56px;
    display: flex;
}

.item-menu-desing {
    margin-right: 48px;
}

.container-logo-menu {
    display: flex;
    align-items: center;
}

.text-login {
    margin-left: 41px;
}

.buttom-sign {
    height: 39px;
    width: 139px;
    border-radius: 10px;
}