* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-header{
    display: flex;
    padding: 48px 36px 23px 64px;
    align-items: center;
    justify-content: space-between;
}

.container-items-menu {
    display: flex;
}

.container-items-nav{
    display: flex;
}

.container-logo-header{
    margin-right: 56px;
    display: flex;
}

.item-menu-desing {
    margin-right: 48px;
}

.container-logo-menu {
    display: flex;
    align-items: center;
}
