* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-all-mentors {
    padding: 0 128px;
}

.container-title-mentors {
    padding-top: 128px;
}

.title-mentors {
    font-family: 'GT America Trial';
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #222222;
    margin-bottom: 24px;
}

.text-mentors {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 64.28px;
    max-width: 571px;
}

.container-all-cards {
    display: flex;
}

.container-card-mentors {
    width: 33.33%;
    margin-right: 48px;
    background: #FFFFFF;
    border-radius: 0px 0px 32px 32px;
}

.container-card-mentors:last-child {
    margin-right: 0;
}

.container-img-card, .img-card{
    width: 100%;
    display: flex;
}

.name-mentors {
    margin-top: 36px;
    font-family: 'GT America Trial';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #222222;
}

.profession-mentors, .-text-card{
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
}

.-text-card {
    margin-top: 18px;
    max-width: 269.67px;
}

.buttom-card {
    max-width: 157px;
    height: 32px;
    border-radius: 100px;
    border: solid 2px #2F80ED;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.svg-arrow-card {
    margin-left: 10px;
}

.text-buttom {
    font-family: 'GT America Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2F80ED;
}

.container-info-card {
    margin-left: 36px;
    padding-bottom: 64px;
    margin-right: 20px;
}

.buttom-Browse-all {
    max-width: 244px;
    height: 55px;
    background: #2F80ED;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 64px;
}

.text-buttom-Browse-all {
    font-family: 'GT America Trial';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.svg-buttom-browse-all {
    display: flex;
    margin-left: 10px;
}


@media (max-width:1019px) {
    .father-all-mentors {
    padding: 0 58px;
}
}


@media (max-width:1089px) {
    .container-card-mentors:last-child {
        display: none;
    }

    .container-all-cards {
        display: flex;
        justify-content: space-around;
    }

    .container-card-mentors {
        margin-right: 0;
    }

    .-text-card {
        display: none;
    }
}